# Python
env/
*.pyc
__pycache__/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.idea/
android/.gradle/
android/captures/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml

# VSCode
.vscode/
